body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: aliceblue;
    margin: 0;
    padding: 0;
    text-align: center;
}
h1{
    color: aquamarine;
}
form{
    background-color: blanchedalmond;
    max-width: 400px;
    margin: 0;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px ;


}
label{
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}
input[type="text"], input[type="email"], textarea{
    width: 90%;
    padding: 10px;
    margin-bottom: 10px;
    border: 5px solid;
    border-radius: 3px;
    
}
input[type="submit"]{
    background-color: aquamarine;
    color: antiquewhite;
    border: none;
    padding: 10px 20px;
    border-radius: 3px;
    cursor: pointer;
}
input[type="submit"] :hover{
    background-color: black;
    color: antiquewhite;

    
}
.home-button {
    display: inline-block;
    padding: 10px 20px;
    margin: 20px;
    background-color: #007bff; /* Couleur de fond du bouton */
    color: #fff; /* Couleur du texte */
    text-decoration: none; /* Enlever la décoration du lien */
    border-radius: 5px; /* Coins arrondis */
    font-size: 16px; /* Taille du texte */
    font-weight: bold; /* Texte en gras */
    text-align: center; /* Centrer le texte */
    transition: background-color 0.3s ease; /* Effet de transition pour le survol */
}

.home-button:hover {
    background-color: #0056b3; /* Couleur de fond au survol */
}
