body {
    font-family: Arial, sans-serif;
    background-color: #f4e1f2; /* Violet pâle */
    color: #333;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: #fff;
    border-radius: 100px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 30px;
    max-width: 400px;
    width: 100%;
}

h1 {
    text-align: center;
    color: #d85d87; /* Rose */
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    font-size: 14px;
    margin-bottom: 5px;
    color: #333;
}

input[type="text"], input[type="email"], input[type="tel"], textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #d85d87;
    border-radius: 5px;
    font-size: 14px;
}

input[type="submit"] {
    background-color: #d85d87; /* Rose */
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    width: 100%;
    transition: background-color 0.3s ease;
}

input[type="submit"]:hover {
    background-color: #f08fbf; /* Rose plus clair */
}

.home-button {
    display: inline-block;
    margin-top: 15px;
    text-align: center;
    color: #d85d87; /* Rose */
    text-decoration: none;
    font-weight: bold;
    font-size: 14px;
}

.home-button:hover {
    text-decoration: underline;
}
