body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f7a7eb;
}

table {
    width: 50%;
    border-collapse: collapse;
    text-align: left;
    background-color: #93e1a9;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

th, td {
    padding: 15px;
    border: 1px solid #df9f9f;
}

th {
    background-color: #4CAF50;
    color: white;
    text-align: center;
}

td {
    text-align: center;
}

caption {
    caption-side: top;
    font-size: 1.5em;
    margin-bottom: 10px;
    font-weight: bold;
}